### `.gitignore`

# Ignore object files and executables in the src directory
src/*.o
src/*.exe
src/*.html
tests/*.md
ardent.exe
*.o
validator.exe
*.obj
*.pdb
*.ilk
*.log

dbg_tokens.exe
*.Ardent
dbg.exe

ardent_demo.exe
ROADMAP.md
validator_output.txt